In [1]:
import surgeo
import pandas as pd
import numpy as np

In [2]:
surgeo.VERSION

'2010.1.1'

In [3]:
g = surgeo.GeocodeModel()
s = surgeo.SurnameModel()
sg = surgeo.SurgeoModel()

In [4]:
surnames = pd.Series([
    'JONES',
    'DAVIDSON',
    12345,
    np.NaN
])

In [16]:
zips = pd.Series([
    '99501',
    99602,
    np.NaN,
    63144
])

In [19]:
s.get_probabilities(surnames)

       name   white   black     api  native  multiple  hispanic
0     JONES  0.5519  0.3848  0.0044  0.0100    0.0261    0.0229
1  DAVIDSON  0.8438  0.1008  0.0065  0.0065    0.0188    0.0235
2               NaN     NaN     NaN     NaN       NaN       NaN
3               NaN     NaN     NaN     NaN       NaN       NaN

In [20]:
g.get_probabilities(zips)

   zcta5   white  black     api  native  multiple  hispanic
0  99501  0.0213  0.066  0.0414  0.0199    0.0260    0.0351
1  99602  0.0000  0.000  0.0000  0.0016    0.0002    0.0000
2    NaN     NaN    NaN     NaN     NaN       NaN       NaN
3  63144     NaN    NaN     NaN     NaN       NaN       NaN

In [21]:
sg.get_probabilities(surnames, zips)

   zcta5      name   white   black     api  native  multiple  hispanic
0  99501     JONES  0.3013  0.6509  0.0047  0.0051    0.0174    0.0206
1  99602  DAVIDSON  0.0000  0.0000  0.0000  0.7345    0.2655    0.0000
2    NaN               NaN     NaN     NaN     NaN       NaN       NaN
3  63144               NaN     NaN     NaN     NaN       NaN       NaN

$
q(i \mid j,k) = \frac
    {\large{u(i,j,k)}}
    {\large{u(1,j,k) \; + \; u(2,j,k) \; + \; u(3,j,k) \; + \; u(4,j,k) \; + \; u(5,j,k) \; + \; u(6,j,k)}} \\[25px]
\text{Where:} \\
\hspace{25px} u(i,j,k) = P(i \mid j) \times r(k \mid i)\\[25px]
\text{And where:} \\
    \hspace{25px}\text{\( k \) is Census Block} \\
    \hspace{25px}\text{\( j \) is Surname} \\
    \hspace{25px}\text{\( i \) is Race} \\
        \hspace{50px}\text{1 = Hispanic} \\
        \hspace{50px}\text{2 = White} \\
        \hspace{50px}\text{3 = Black} \\
        \hspace{50px}\text{4 = Asian or Pacific Islander} \\
        \hspace{50px}\text{5 = American Indian / Alaska Native} \\
        \hspace{50px}\text{6 = Multiracial} \\
$

    Where k is census block
    Where j is surname
    Where i is race (1 = Hispanic, 
                     2 = White, 
                     3 = Black, 
                     4 = Asian or Pacific Islander, 
                     5 = American Indian / Alaska Native, 
                     6 = Multiracial)

    Where u(i,j,k) = p(i|j) * r(k|i):

                                          u(i,j,k)
    q(i|j,k) = ---------------------------------------------------------------
               u(1,j,k) + u(2,j,k) + u(3,j,k) + u(4,j,k) + u(5,j,k) + u(6,j,k)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/theon/development/surgeo/surgeo/data/population_2010.csv')
df

       zcta5   white   black     api  native  multiple  hispanic
0        601  0.0043  0.0001  0.0001  0.0001    0.0000    0.9955
1        602  0.0052  0.0003  0.0004  0.0000    0.0002    0.9940
2        603  0.0115  0.0018  0.0009  0.0000    0.0004    0.9853
3        606  0.0048  0.0005  0.0006  0.0000    0.0002    0.9940
4        610  0.0064  0.0008  0.0003  0.0000    0.0002    0.9923
5        612  0.0066  0.0007  0.0007  0.0001    0.0004    0.9916
6        616  0.0033  0.0010  0.0001  0.0001    0.0001    0.9955
7        617  0.0045  0.0007  0.0006  0.0000    0.0001    0.9941
8        622  0.0164  0.0010  0.0004  0.0000    0.0006    0.9815
9        623  0.0076  0.0007  0.0004  0.0000    0.0003    0.9910
10       624  0.0052  0.0005  0.0004  0.0000    0.0002    0.9937
11       627  0.0050  0.0003  0.0003  0.0003    0.0001    0.9941
12       631  0.0032  0.0000  0.0022  0.0000    0.0000    0.9946
13       637  0.0042  0.0003  0.0002  0.0001    0.0002    0.9951
14       638  0.0024  0.0003  0.0000  0.0001    0.0004    0.9969
15       641  0.0046  0.0001  0.0004  0.0001    0.0002    0.9946
16       646  0.0161  0.0012  0.0013  0.0001    0.0004    0.9809
17       647  0.0068  0.0010  0.0002  0.0000    0.0000    0.9921
18       650  0.0048  0.0005  0.0004  0.0000    0.0001    0.9943
19       652  0.0100  0.0002  0.0000  0.0000    0.0002    0.9896
20       653  0.0043  0.0008  0.0002  0.0002    0.0001    0.9944
21       656  0.0030  0.0009  0.0004  0.0000    0.0002    0.9954
22       659  0.0064  0.0008  0.0007  0.0001    0.0001    0.9919
23       660  0.0037  0.0004  0.0006  0.0001    0.0005    0.9947
24       662  0.0078  0.0008  0.0008  0.0000    0.0002    0.9905
25       664  0.0027  0.0004  0.0005  0.0001    0.0001    0.9963
26       667  0.0057  0.0003  0.0005  0.0000    0.0000    0.9934
27       669  0.0066  0.0001  0.0002  0.0000    0.0001    0.9930
28       670  0.0057  0.0001  0.0001  0.0000    0.0002    0.9939
29       674  0.0061  0.0007  0.0004  0.0000    0.0001    0.9926
...      ...     ...     ...     ...     ...       ...       ...
33193  99786  0.1120  0.0039  0.0000  0.8456    0.0386    0.0000
33194  99788  0.1449  0.0000  0.0000  0.8551    0.0000    0.0000
33195  99789  0.0995  0.0025  0.0000  0.8706    0.0274    0.0000
33196  99790  0.7000  0.0000  0.0000  0.2000    0.1000    0.0000
33197  99791  0.0675  0.0000  0.0000  0.9241    0.0084    0.0000
33198  99801  0.6725  0.0083  0.0694  0.1120    0.0872    0.0507
33199  99820  0.1232  0.0084  0.0000  0.6827    0.1106    0.0752
33200  99824  0.7012  0.0081  0.0333  0.1294    0.0747    0.0533
33201  99825  0.8000  0.0000  0.0083  0.0583    0.0917    0.0417
33202  99826  0.9005  0.0000  0.0136  0.0271    0.0430    0.0158
33203  99827  0.7992  0.0035  0.0054  0.1166    0.0564    0.0189
33204  99829  0.3127  0.0039  0.0051  0.5109    0.1364    0.0309
33205  99830  0.1697  0.0018  0.0018  0.6859    0.1227    0.0181
33206  99832  0.6250  0.0000  0.0000  0.2981    0.0673    0.0096
33207  99833  0.7850  0.0044  0.0310  0.0691    0.0732    0.0372
33208  99835  0.6359  0.0048  0.0607  0.1626    0.0867    0.0493
33209  99836  0.8846  0.0000  0.0385  0.0385    0.0192    0.0192
33210  99840  0.9008  0.0000  0.0062  0.0351    0.0362    0.0217
33211  99841  0.9323  0.0075  0.0075  0.0075    0.0301    0.0150
33212  99901  0.6630  0.0057  0.0711  0.1358    0.0845    0.0399
33213  99903  0.9032  0.0323  0.0000  0.0000    0.0645    0.0000
33214  99918  0.9481  0.0000  0.0000  0.0303    0.0130    0.0087
33215  99919  0.8701  0.0019  0.0113  0.0546    0.0471    0.0151
33216  99921  0.7086  0.0026  0.0089  0.1449    0.1084    0.0266
33217  99922  0.1328  0.0052  0.0026  0.7422    0.0859    0.0312
33218  99923  0.9080  0.0000  0.0115  0.0115    0.0460    0.0230
33219  99925  0.4164  0.0024  0.0061  0.4469    0.1026    0.0256
33220  99926  0.0988  0.0041  0.0082  0.8141    0.0569    0.0178
33221  99927  0.7553  0.0000  0.0000  0.1064    0.0851    0.0532
33222  99929  0.7150  0.0013  0.0141  0.1630    0.0907    0.0158

[33223 rows x 7 columns]